<!doctype html>
<html ng-app="techApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Main</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.min.js"></script>
    <script src="javascripts/nv.d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="javascripts/techApp.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/nv.d3.min.css">
    <style>
    #chart svg {
	   height: 400px;
	}
    </style>
</head>
<body ng-controller="techAppCtrl">

    {{{body}}}

</body>
</html>
